@{
    ViewData["Title"] = "Log";
}
<h2>
    <a asp-controller="Log" asp-action="Index" asp-route-appname="@Model.Application.Name" 
        asp-route-token="@ViewData["AppToken"]" class="log-title">
        @Model.Application.Name
    </a>
</h2>
<div class="row">
    <div class="col">
        <div class="log">
            <div class="log-header">
                <div>
                    UUID: @Model.Id
                </div>
                <i class="fas fa-@Model.LogType" aria-hidden="true"></i>
                @Model.Title
                <span class="log-info" style="float: right">
                    <span class="log-date">
                        <i class="fas fa-clock-o"></i> @Model.LogDate
                    </span>
                </span>
            </div>
            <div class="log-body">
                <pre class="log-code">@Model.Body</pre>
            </div>
        </div>
    </div>
</div>
